In [0]:
#input str="pynative"
#output='p','n','t',v' . complete this qustion using function
def function(n):
  li=list(n)
  return (li)[::2]
function("pynative")

['p', 'n', 't', 'v']

In [0]:
def fristandlast(n):
  if n[0]==n[-1]:
    return True
  else:
    return False
n1=[1,2,3,4,1]
n2=[1,2,3,4,5,6]
print(fristandlast(n1))
print(fristandlast(n2))

True
False

In [0]:
i=1
n=5
for i in range(1,6):
    for j in range(0,i):
        print(i,end=" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [0]:
a=input("enter your name")
b=int(input("enter your age"))
c=int(input("enter the year"))
print(a)
print(b)
print(c)
print(c-b+100)

enter your namekushal reddy
enter your age21
enter the year2019
kushal reddy
21
2019
2098