#python programming
##python programming
###python programming
####python programming
#####python programming

1. a
2. b
3. c
    1. d
    2. e
    3. f

[google](https://www.google.co.in/?gfe_rd=cr&ei=smAGVeejPIuDvASK5oDYAg&gws_rd=ssl)

![image](https://media1.picsearch.com/is?i4nxpjMUmaC2CAaVw-bWd3CqnnAXpQqfz2sf_BdCYV8&height=255)

- abc
- def
* ghi

In [0]:
a=10,78
b=20
print (type(a),type(b))

<class 'tuple'> <class 'int'>

In [0]:
a=int(input("enter a value"))
b=int(input("enter b value"))
print(a+b)

enter a value10
enter b value20
30

In [0]:
age=int(input("enter age "))
name=(input("enter name "))
print(" age is ",age,end=" ")
print(" name is",name)

enter age 25
enter name sanju
 age is  25  name is sanju

In [0]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               def                 if                  raise
None                del                 import              return
True                elif                in                  try
and                 else                is                  while
as                  except              lambda              with
assert              finally             nonlocal            yield
break               for                 not
class               from                or
continue            global              pass